<div class="system-info-wrapper">
  <p>Si desea descargar la información estadística de ManglarApp en un Excel, ingrese la cuenta de Power BI del MAE utilizando las siguientes credenciales de acceso:</p>
  <p><b>Usuario:</b> manglar@ministerioambienteecuador.onmicrosoft.com</p>
  <p><b>Contraseña:</b> Proyectos123</p>
  <button mat-raised-button color="primary" (click)="onClick()">Ingresar a Power BI</button>
</div>
