<h1 mat-dialog-title>{{data.title}}</h1>

<mat-form-field class="full-width">
  <input matInput placeholder="Nombre" [(ngModel)]="data.emailNotificationName">
</mat-form-field>

<mat-form-field class="full-width">
  <input matInput placeholder="Correo" [(ngModel)]="data.emailNotificationEmail">
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label>Provincia</mat-label>
  <mat-select multiple [(value)]="provincesSelected">
    <mat-option *ngFor="let province of provinces" [value]="province.state">{{province.state}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <mat-label>Tipo alerta</mat-label>
  <mat-select multiple [(value)]="typesSelected">
    <mat-option *ngFor="let report of reports" [value]="report.title">{{report.title}}</mat-option>
  </mat-select>
</mat-form-field>

<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Aceptar</button>
</div>
