@import '../../variables'

.label
  width: 40%
  color: #2A7D9B
  font-size: 12px
  line-height: 13px

.input
  width: 180px
  height: 20px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  //color: $dark

.input-select
  width: 254px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  padding: 3px 3px 3px 5px
  color: $dark

.block-row
  display: flex
  align-items: center
  margin: 5px 0px

.submit
  width: 80px
  height: 20px
  color: white
  background-color: #006a77

.submit-wrapper
  display: flex
  align-items: center
  justify-content: center
  padding: 10px 0px 5px 0px

.cancel-button
  background-color: #006a77
  margin-right: 10px

.separate
  border-top: 1px solid #c5c5c5
  width: 100%
  margin: 10px 0px 5px 0px

.captcha
  width: 360px
  margin: auto
  height: 100px
  padding-top: 10px
  padding-bottom: 35px

.labelCaptcha
  color: #2A7D9B
  padding-bottom: 12px
  font-size: 12px
  line-height: 13px
  text-align: center

#userCaptchaInput
  width: 160px
  padding: 3px
  margin: 10px 20px 10px 50px

.backLink
  color: #846db4
  text-decoration: underline
  cursor: pointer
  padding-top: 15px

.notification
  padding: 8px
  background-color: #d9edf7
  color: #5894ba
  border: 1px solid #bce8f0
