<app-wrapper>

  <app-block-info [title]="'ACTUALIZACIÓN DE CONTRASEÑA'" *ngIf="isValid" [width]=50 title-center>

    <div class="labelCaptcha">La información solicitada que ingrese será la que utilizará para el ingreso al sistema</div>

    <div class="labelCaptcha"><b>Debe tener al menos un dígito, una minúscula, una mayúscula y un mínimo de 8 caracteres</b></div>

    <div class="block-row">
      <div class="label">Ingrese usuario*</div>
      <input type="text" name="user" class="input" [(ngModel)]="user">
    </div>

    <div class="block-row">
      <div class="label">Nueva contraseña</div>
      <input type="password" name="newPassword" class="input" [(ngModel)]="newPassword">
    </div>

    <div class="block-row">
      <div class="label">Confirmar nueva contraseña</div>
      <input type="password" name="confirmPassword" class="input" [(ngModel)]="confirmPassword">
    </div>

    <div class="submit-wrapper">
      <button type="submit" name="submit" class="submit" (keyup.enter)="submit()" (tap)="submit()">Aceptar</button>
      <button type="button" name="cancel" class="submit" (click)="cancel()">Cancelar</button>
    </div>

  </app-block-info>

  <app-block-info [title]="''" [width]=100 *ngIf="!isValid">
    <div class="notification">
      Lo sentimos el lapso de 15 minutos ha terminado, tendrá que volver a realizar los pasos anteriores para cambio de contraseña.
      <span class="backLink" (tap)="cancel()">Volver</span>
    </div>
  </app-block-info>

</app-wrapper>
