<h1 mat-dialog-title>{{data.title}}</h1>

<mat-form-field class="full-width">
  <input matInput placeholder="Cédula" [(ngModel)]="data.allowedUserPin" [disabled]="wasEvaluated()">
</mat-form-field>

<div mat-dialog-actions class="buttons" *ngIf="!wasEvaluated()">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="updateNameFromCedula()" cdkFocusInitial>Aceptar</button>
</div>

<mat-form-field class="full-width" *ngIf="wasEvaluated()">
  <input matInput placeholder="Nombre" [(ngModel)]="data.allowedUserName" disabled>
</mat-form-field>

<mat-form-field class="full-width" *ngIf="wasEvaluated() && !isSuperAdmin">
  <mat-label>Organización</mat-label>
  <mat-select [(value)]="data.organizationManglarName">
    <mat-option *ngFor="let organization of organizations" [value]="organization.organizationManglarName">{{organization.organizationManglarName}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width" *ngIf="wasEvaluated() && !isSuperAdmin">
  <mat-label>Provincia</mat-label>
  <mat-select [(value)]="data.geographicalLocationName">
    <mat-option *ngFor="let province of provinces" [value]="province.state">{{province.state}}</mat-option>
  </mat-select>
</mat-form-field>

<div mat-dialog-actions class="buttons" *ngIf="wasEvaluated()">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Aceptar</button>
</div>
