<div class="information-wrapper">
  <!-- <div class="logo">
    <img src="assets/images/logo-full.png" alt="LOGO">
  </div> -->
  <div class="card-wrapper">
    <div class="app-card info-block">
      <h3>IMPORTANCIA DEL MANGLAR</h3>
      <p>El manglar es un ecosistema boscoso que se desarrolla en la transición entre tierra firme y mar abierto, en las zonas tropicales y subtropicales del mundo. Por sus características, es el hábitat de una gran variedad de fauna como aves, peces, moluscos y crustáceos, dentro del cual se encuentran especies de gran valor para la seguridad alimentaria y que son aprovechadas comercialmente como la concha, cangrejo, robalo, lisa, entre otros. Los manglares brindan a su vez servicio ecosistémicos de protección contra la erosión de las costas, ya que atrapan sedimento y hojarasca entre sus raíces ayudando a rellenar y recobrar terreno; protegen al continente de los huracanes, marejadas, tormentas; atenúan los impactos del Fenómeno de El Niño y también protegen las tierras agrícolas de la salinidad del mar, actuando como filtro y manteniendo la calidad del agua.</p>
    </div>
    <div class="app-card info-block">
      <h3>ACUERDOS DE USO SOSTENIBLE Y CUSTODIA DEL ECOSISTEMA MANGLAR</h3>
      <p>El marco legal ecuatoriano contempla una herramienta de gestión del ecosistema manglar llamada Acuerdos de Uso Sostenible y Custodia del Ecosistema Manglar, bajo el cual el MAE entrega en custodia los bosques del manglar a usuarios tradicionales asentados a lo largo del perfil costanero. Es un instrumento jurídico que garantiza a los custodios el acceso exclusivo a las áreas de manglar con el derecho de aprovechar sustentablemente los recursos bioacuáticos, pero a su vez tienen la obligación de custodiar el manglar y denunciar cualquier daño ambiental a la autoridad ambiental.</p>
    </div>
    <!-- <div class="reportsLink" routerLink="/normatives">Normativas y Artículos</div>
    <div class="reportsLink" routerLink="/dashboard/reports">Reportes</div> -->
  </div>
</div>
