@import '../../variables'

.logo img
  margin: auto
  display: block
  width: 150px
  height: 125px

.info-block
  max-width: 44%
  min-height: 260px

.info-block p
  text-align: justify

.reportsLink
  text-align: center
  color: blue
  text-decoration: underline
  padding-bottom: 15px


@media screen and (max-width: $large)
  .info-block
    max-width: 85%
