<div class="block-wrapper" [ngStyle]="{'width': width + '%'}">
  <div class="block-title" [ngClass]="[titleCenter ? 'title-center' : '']">
    {{title}}
  </div>
  <div class="block-content">
    <ng-content></ng-content>
  </div>
</div>
