@import '../../variables'

.block-wrapper
  margin: 4px auto
  min-width: 420px
  max-width: 1024px
  background-color: $white
  border: $border

.block-title
  color: $dark
  text-align: left
  font-size: 12px
  padding: 6px 20px
  font-weight: bold
  border-top: 3px solid #008a89
  margin: 1px

.block-content
  padding: 10px 20px 20px 20px

.title-center
  text-align: center
  font-size: 13px
