<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content class="content">
  <img src="{{data.url}}" alt="{{data.name}}" *ngIf="data.type === 'photo'">
  <mat-video src="{{data.url}}" *ngIf="data.type === 'video'"></mat-video>
  <h5>{{data.description}}</h5>
</div>
