<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p *ngIf="!data.histories.length">No se registra ningún cambio de estado</p>
  <p *ngFor="let history of data.histories"> - {{history.date | date: 'yyyy/MM/dd HH:mm'}} {{history.userName}} cambió de <b>{{history.oldState}}</b> a <b>{{history.newState}}</b></p>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>
