<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="radio-group"
    [(ngModel)]="data.current">
    <mat-radio-button class="radio-button" *ngFor="let option of data.options" [value]="option">
      {{option}}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.current" cdkFocusInitial>Aceptar</button>
</div>
