@import '../../variables'

.logo
  width: 100px
  height: 100px
  margin: auto
  display: block

.logo-text
  width: 155px
  height: 28px
  margin: auto
  display: block
  margin-top: 12px
  border-radius: 15px
  padding: 0px 5px 0px 10px
  background-color: #ffffff8f

.page-wrapper
  margin-left: auto
  margin-right: auto
  width: 95%
  max-width: 500px
  height: 340px
  background-color: $white
  border: $border

.login-info-wrapper
  display: flex
  padding: 12px
  align-items: flex-end
  justify-content: space-between

.forget-pass-info
  text-align: center
  cursor: pointer
  color: #161aff
  font-size: 11px

.title
  color: #007070
  text-align: center
  font-size: 13px
  padding: 6px 15%
  font-weight: 500
  border-top: 3px solid
  margin: 1px

.user-loggin
  width: 80%
  padding-right: 10px
  height: 55px

.info
  width: 100%
  height: 50%
  display: flex
  align-items: center
  span
    width: 30%
    color: #068b8a
    font-size: 11px
    font-weight: bold
  input
    width: 70%
    padding: 5px
    border: 1px solid #c5c5c5
    background-color: #f5f5f5
    color: black

.submit
  width: 150px
  height: 55px
  color: white
  background-color: #34a7f2

.register-wrapper
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 10px
  span
    color: #068b8a
    font-size: 10px

.register-button
  width: 165px
  height: 40px
  color: white
  background-color: #006a77
