<app-wrapper>

  <div class="page-wrapper">

    <div class="title">
      DENUNCIAS DE AFECTACIONES AL MANGLAR
    </div>

    <img class="logo" src="assets/images/user.jpg" alt="MANGLAR APP LOGO">

    <form class="login-info-wrapper" (submit)="login()">
      <div class="user-loggin">
        <div class="info">
          <span>Usuario *</span>
          <input type="text" [(ngModel)]="username" name="username">
        </div>
        <div class="info">
          <span>Contraseña *</span>
          <input type="password" name="password" [(ngModel)]="password">
        </div>
      </div>
      <button type="submit" name="button" class="submit" (keyup.enter)="login()">Ingresar</button>
    </form>

    <div class="forget-pass-info" (click)="recoverPassword()">
      ¿Olvidó su contraseña?
    </div>

    <div class="register-wrapper">
      <span>Si aún no es usuario de SUIA, registrese ahora</span>
      <button type="button" name="button" class="register-button" (click)="register()">Regístrese en el sistema</button>
    </div>

  </div>

</app-wrapper>
