<div class="mae-info-wrapper">
  <div class="logo-mae"></div>
  <div class="logo-fiscalia"></div>
  <div class="logo-mpceip"></div>
  <div class="logo-manglar"></div>
  <div class="info-wrapper">
    <span>Calle Madrid 1159 y Andalucía</span>
    <span>Código Postal: 170525 / Quito - Ecuador</span>
    <span>Teléfono: 593-2 398-7600</span>
    <span>www.ambiente.gob.ec</span>
  </div>
</div>
