@import "../../variables"

.mae-info-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  background-color: #eeeeeee3
  max-width: 1024px
  padding: 10px 12px
  margin: 10px 0px 40px 0px

.logo-mae
  width: 190px
  height: 113px
  overflow: auto
  background-size: 100% auto
  background-color: transparent
  background-repeat: no-repeat
  background-image: url('../../assets/images/logo_suia_small.png')

.logo-fiscalia
  width: 150px
  height: 100px
  overflow: auto
  opacity: 0.8
  background-size: 100% auto
  background-color: transparent
  background-repeat: no-repeat
  background-image: url('../../assets/images/logo_fiscalia.png')

.logo-mpceip
  width: 185px
  height: 100px
  overflow: auto
  background-size: cover
  background-color: transparent
  background-repeat: no-repeat
  background-image: url('../../assets/images/logo_MPCEIP.png')

.logo-manglar
  width: 108px
  height: 90px
  overflow: auto
  background-size: cover
  background-color: transparent
  background-repeat: no-repeat
  background-image: url('../../assets/images/logo_manglar_app.png')

.info-wrapper
  display: flex
  color: #ababab
  line-height: 15px
  text-align: right
  align-items: flex-end
  flex-direction: column

@media screen and (max-width: $small)
  .logos-wrapper
    width: 80px
    height: 57px

@media screen and (max-width: $large)
  .logo-manglar
    display: none

@media screen and (max-width: $medium)
  .logo-fiscalia
    display: none
  .logo-mpceip
    display: none
