<div class="tabs-wrapper">

  <button mat-button routerLink="/dashboard/information">INFORMACIÓN</button>

  <button mat-button routerLink="/dashboard/reports">REPORTES</button>

  <button mat-button routerLink="/dashboard/statistics">ESTADÍSTICAS</button>

  <button mat-button routerLink="/dashboard/normatives">NORMATIVAS</button>

  <button mat-button routerLink="/dashboard/config" *ngIf="isSuperAdmin">CONFIGURACIÓN</button>

</div>
