@import "../../variables"

.spinner-wrapper
  padding: 10px 0px 30px 0px
  mat-spinner
    margin: auto

.tabs-wrapper
  background-color: $white
  max-width: 1024px
  border: 1px solid #aaaaaa
  padding: 2px
  margin: 10px 0px

.logo
  width: 100px
  height: 100px
  margin: auto
  display: block

.menu
  width: 100%
  border-bottom: 1px solid $gray
  span
    margin: 14px 20px
    display: inline-block
    color: $primary

.mat-menu-item
  display: flex
  align-items: center
  width: 260px

.icon-tab
  width: 20px
  height: 17px
  margin-right: 8px

.nameInfo
  width: 165px
  overflow-x: hidden
  font-weight: bold
  text-overflow: ellipsis
  color: $dark
  font-size: 12px
  text-transform: uppercase

.numReports
  color: $dark
  font-size: 12px
  padding-left: 8px

.nInfo
  width: 50px
  color: white
  font-size: 12px
  background: $gray
  text-align: center
  border-radius: 10px

.selected
  background: $secondary !important

.sub-menu
  height: 30px
  display: flex
  align-items: center
  padding: 8px 10px 8px 40px
  justify-content: space-between
