@import '../../variables'

.spinner-wrapper
  padding: 30px 0px 30px 0px
  mat-spinner
    margin: auto

.info-block
  width: 280px
  height: 120px

@media screen and (max-width: $medium)
  .info-block
    width: 240px

.info-block-noList
  width: 85%

.nameInfo
  color: $dark
  text-transform: uppercase

.imgIcon
  width: 62px
  height: 50px
