<div>
  <div class="header">
    <div class="title">
      Reportes
    </div>
    <div class="filter">

    </div>
  </div>

  <div class="card-wrapper" *ngIf="isLoading">
    <div class="app-card info-block-noList">
      <h3>Cargando reportes</h3><h4></h4>
      <div class="spinner-wrapper">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
  </div>

  <div class="card-wrapper" *ngIf="!isLoading">
    <div class="app-card info-block pointer" *ngFor="let reportInfo of reportsInfo" [routerLink]="['/dashboard/reports/' + reportInfo.id]">
      <img class="imgIcon" src="{{reportInfo.imgSrc}}" alt="ICON">
      <h3 class="nameInfo">{{reportInfo.name}}</h3>
      <h3 *ngIf="reportInfo.nReports">({{reportInfo.nReports}})</h3>
    </div>
  </div>
</div>
