<div class="user-wrapper">
  <div class="userInfo">
    <img src="assets/svg/person.svg" alt="user" class="icon-user">
    Bienvenido(a):
    <span class="userName pointer" (tap)="navProfile()">{{userInfo}}</span>
  </div>
  <a (tap)="logout.emit()" class="logout-button pointer">Cerrar sesión</a>
</div>
