@import "../../variables"

.user-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $white
  max-width: 1024px
  border: 1px solid #aaaaaa
  padding: 11px
  margin: 10px 0px

.userInfo
  display: flex
  align-items: center

.logout-button
  color: blue
  text-decoration: underline

.icon-user
  width: 20px
  height: 20px
  padding-right: 5px

.userName
  padding-left: 5px
  text-transform: uppercase
