<div class="background-wrapper">
  <div class="ama-header"></div>
  <div class="content-wrapper">
    <div class="header-mae"></div>
    <div class="header-title"></div>
    <ng-content></ng-content>
  </div>
</div>
