@import '../../variables'

.background-wrapper
  width: 100%
  height: 100%
  overflow: auto
  background-size: cover !important
  background: url('../../assets/images/background.jpg') no-repeat center center fixed

.ama-header
  top: 20px
  left: 20px
  width: 300px
  height: 300px
  position: absolute
  background-size: 100% auto
  background-color: transparent
  background-image: url('../../assets/images/logo_ama_banner_circle.png')

.content-wrapper
  width: 80%
  margin: auto
  padding-top: 10px
  max-width: 1024px
  position: relative

.header-mae
  width: 85%
  height: 0
  padding-top: 13%
  margin-left: auto
  background-size: 100% auto
  background-repeat: no-repeat
  background-color: transparent
  background-image: url('../../assets/images/imagen_cabecera.png')

.header-title
  height: 0
  width: 54%
  padding-top: 3%
  margin: 0px 0px 30px auto
  background-size: 100% auto
  background-repeat: no-repeat
  background-color: transparent
  background-image: url('../../assets/images/barra_titular_sitio_manglarapp.png')

@media screen and (max-width: $medium)
  .content-wrapper
    width: 90%

@media screen and (max-width: $small)
  .content-wrapper
    width: 100%
