<div>
  <div class="header">
    <div class="title">
      <span routerLink="/dashboard/reports">Reportes</span> > {{idReport}}
    </div>
    <div class="filter">

    </div>
  </div>

  <div class="card-wrapper" *ngIf="isLoading">
    <div class="app-card info-block-noList">
      <h3>Actualizando la lista</h3><h4></h4>
      <div class="spinner-wrapper">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
  </div>

  <div class="card-wrapper" *ngIf="!isLoading && !reports.length">
    <div class="app-card info-block-noList">
      <h3>Lista de reportes vacia</h3><h4></h4>
      <p>No tenemos ningun reporte para mostrar</p>
    </div>
  </div>

  <div class="card-wrapper" *ngIf="!isLoading && reports.length">

    <div class="search-wrapper">
      <mat-icon>search</mat-icon>
      <mat-form-field class="full-width">
        <input matInput placeholder="Buscar por estado, id, usuario y organización" [(ngModel)]="searchquery">
      </mat-form-field>
    </div>

    <div class="app-card info-block pointer" *ngFor="let report of reports | filter: searchquery"  [routerLink]="['/dashboard/reports/' + idReport + '/' + report.anomalyFormId]">
      <h3>Estado: {{report.anomalyFormState}}</h3>
      <h4 style="font-weight: 300; font-size: 10px">Id:{{report.anomalyFormId}}</h4>
      <p><b>Reportó:</b> {{report.userName || 'NO_USER_NAME'}}</p>
      <p><b>Cédula:</b> {{report.userPin || 'NO_PIN'}}</p>
      <p><b>Organización:</b> {{report.userOrganizationManglarName || 'NO_ORGANIZATION'}}</p>
      <p><b>Fecha:</b> {{report.createdAt  | date: 'yyyy/MM/dd HH:mm'}}</p>
      <p *ngIf="report.causa"><b>Causa:</b> {{report.causa}}</p>
      <p><b>Descripción:</b> {{report.description}}</p>
      <p><b>Extra: </b>
        <span *ngIf="report.anomaliesOffenders || report.anomaliesEvidences || report.anomaliesWitnesses">
          <span *ngIf="report.anomaliesOffenders">infractores: <b>{{report.anomaliesOffenders.length}} </b></span>
          <span *ngIf="report.anomaliesEvidences">fotos/videos: <b>{{report.anomaliesEvidences.length}} </b></span>
          <span *ngIf="report.anomaliesWitnesses">testigos: <b>{{report.anomaliesWitnesses.length}}</b></span>
        </span>
        <span *ngIf="!report.anomaliesOffenders && !report.anomaliesEvidences && !report.anomaliesWitnesses">
          No infractores, fotos, videos o testigos incluidos.
        </span>
      </p>

    </div>
  </div>
</div>
