@import '../../variables'

.spinner-wrapper
  padding: 30px 0px 30px 0px
  mat-spinner
    margin: auto

.info-block
  width: 270px
  height: 240px

@media screen and (max-width: $medium)
  .info-block
    width: 85%

@media screen and (max-width: $small)
  .info-block
    width: 90%

.info-block-noList
  width: 85%

.search-wrapper
  display: flex
  align-items: center
  justify-content: space-evenly
  padding: 10px 10px 0px 10px

.full-width
  width: 90%
