<h1 mat-dialog-title>{{data.title}}</h1>

<mat-form-field class="full-width">
  <input matInput placeholder="Nombre" [(ngModel)]="data.organizationManglarName">
</mat-form-field>

<mat-form-field class="full-width">
  <input matInput placeholder="Nombre completo" [(ngModel)]="data.organizationManglarCompleteName">
</mat-form-field>

<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Aceptar</button>
</div>
