<div class="stats-wrapper">
  <iframe width="1024" height="640" src="https://app.powerbi.com/view?r=eyJrIjoiMWM3NjcxM2QtYjRiZC00ZTViLTgwZDAtODYwNTBkMGY3NGUxIiwidCI6ImQ3YzQ1Njc2LTZjNzMtNGI0Yy05MWVmLWY1YTcyYTkwYWJmNyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
