<app-wrapper>

  <app-user-info [userInfo]="username" (logout)="logout()"></app-user-info>

  <app-block-info [title]="'Usuario'" [width]=100>

    <div class="block-row">
      <div class="label">Contraseña actual:</div>
      <input type="password" name="currentPassword" class="input" [(ngModel)]="currentPassword">
    </div>

    <div class="block-row">
      <div class="label">Nueva contraseña:</div>
      <input type="password" name="newPassword" class="input" [(ngModel)]="newPassword">
    </div>

    <div class="block-row">
      <div class="label">Confirmación contraseña:</div>
      <input type="password" name="confirmPassword" class="input" [(ngModel)]="confirmPassword">
    </div>

    <div class="block-row">
      <div>Estimado usuario sino recuerda su clave actual dirijase al link olvidó su contraseña</div>
    </div>

    <div class="submit-wrapper">
      <button type="button" name="button" class="submit" (click)="changePassword()">Cambiar contraseña</button>
    </div>

  </app-block-info>

  <form *ngIf="!isLoading">
    <app-block-info [title]="'Usuario'" [width]=100>

      <div class="block-row">
        <div class="label">Tipo entidad</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedEntity" disabled>
          <mat-option *ngFor="let entity of entities" [value]="entity">{{entity}}</mat-option>
        </mat-select>
      </div>

      <div class="block-row">
        <div class="label">Tipo de documento</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedDocument" disabled>
          <mat-option *ngFor="let document of documents" [value]="document">{{document}}</mat-option>
        </mat-select>
      </div>

        <div class="block-row">
          <div class="label">Cédula*</div>
          <input type="text" name="pin" class="input" [(ngModel)]="user.pin" disabled>
        </div>

        <div class="block-row">
          <div class="label">Nombres y Apellidos*</div>
          <input type="text" name="name" class="input" [(ngModel)]="user.name" disabled>
        </div>

        <div class="block-row" *ngIf="nationalities.length">
          <div class="label">Nacionalidad*</div>
          <mat-select [ngClass]="['input-select']" [(value)]="selectedNationality">
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality.state}}</mat-option>
          </mat-select>
        </div>

    </app-block-info>

    <app-block-info [title]="'Información de Contacto'" [width]=100>

      <div class="block-row">
        <div class="label">Teléfono*</div>
        <input type="text" name="phone" class="input" [(ngModel)]="user.phone">
      </div>

      <div class="block-row">
        <div class="label">Celular*</div>
        <input type="text" name="mobile" class="input" [(ngModel)]="user.mobile">
      </div>

      <div class="block-row">
        <div class="label">Correo electrónico*</div>
        <input type="email" name="email" class="input" [(ngModel)]="user.email">
      </div>

      <div class="block-row">
        <div class="label">Dirección*</div>
        <input type="text" name="address" class="input" [(ngModel)]="user.address">
      </div>

    </app-block-info>

    <app-block-info [title]="'Ubicación'" [width]=100>

      <div class="block-row">
        <div class="label">Provincia*</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedProvince" (selectionChange)="changeCantons(selectedProvince, selectedCanton)">
          <mat-option *ngFor="let province of provinces" [value]="province">{{province.state}}</mat-option>
        </mat-select>
      </div>

      <div class="block-row" *ngIf="cantons.length">
        <div class="label">Cantón*</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedCanton" (selectionChange)="changeParroquias(selectedCanton, selectedParroquia)">
          <mat-option *ngFor="let canton of cantons" [value]="canton">{{canton.state}}</mat-option>
        </mat-select>
      </div>

      <div class="block-row" *ngIf="parroquias.length && !!selectedCanton">
        <div class="label">Parroquia*</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedParroquia">
          <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia">{{parroquia.state}}</mat-option>
        </mat-select>
      </div>

      <div class="block-row">
        <div class="separate"></div>
      </div>

      <div class="submit-wrapper">
        <button type="submit" name="submit" class="submit" (keyup.enter)="saveProfile()" (tap)="saveProfile()">Aceptar</button>
        <button type="button" name="cancel" class="submit cancel-button" (click)="cancel()">Cancelar</button>
      </div>

    </app-block-info>
  </form>

</app-wrapper>
