@import '../../variables'

.label
  width: 30%
  color: #2A7D9B
  font-size: 12px
  line-height: 13px

.input
  width: 260px
  height: 20px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  //color: $dark

.input-select
  width: 254px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  padding: 3px 3px 3px 5px
  color: $dark

.block-row
  display: flex
  align-items: center
  margin: 5px 0px

.submit
  width: 150px
  height: 26px
  color: white
  background-color: #34a7f2

.submit-wrapper
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 5px 0px 5px 0px

.cancel-button
  background-color: #006a77
  margin-right: 10px

.separate
  border-top: 1px solid #c5c5c5
  width: 100%
  margin: 10px 0px 5px 0px
