<app-wrapper>

  <app-block-info [title]="'CAMBIO DE CONTRASEÑA'" [hidden]="successSend" [width]=50 title-center>

    <div class="block-row">
      <div class="label">Ingrese su usuario*</div>
      <input type="text" name="user" class="input" [(ngModel)]="user">
    </div>

    <div class="labelCaptcha">Para cambiar su contraseña requerimos que ingrese la siguiente información</div>

    <div class="captcha">
      <div class="labelCaptcha">Por favor ingrese el texto que se muestra en la imagen:</div>
      <botdetect-captcha captchaStyleName="angularBasicCaptcha"></botdetect-captcha>
      <input id="userCaptchaInput"
        name="userCaptchaInput"
        ngModel
        #userCaptchaInput="ngModel"
        type="text" >
    </div>

    <div class="submit-wrapper">
      <button type="submit" name="submit" class="submit" (keyup.enter)="submit()" (tap)="submit()">Aceptar</button>
      <button type="button" name="cancel" class="submit" (click)="cancel()">Cancelar</button>
    </div>

  </app-block-info>

  <app-block-info [title]="''" [width]=100 *ngIf="successSend">
    <div class="notification">
      <b>Cambio de contraseña!</b>
      Estimado usuario revise su correo electrónico registrado en el sistema, para continuar con el proceso de cambio de contraseña. Si en el lapso de 15 minutos no ha realizado el cambio de contraseña tendrá que volver a realizar todos los pasos anteriores para cambio de contraseña.
      <span class="backLink" (tap)="cancel()">Volver</span>
    </div>
  </app-block-info>

</app-wrapper>
