@import '../../variables'

.label
  width: 30%
  color: #2A7D9B
  font-size: 12px
  line-height: 13px

.input
  width: 260px
  height: 20px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  //color: $dark

.input-select
  width: 254px
  background: #f5f5f5
  border: 1px solid #c5c5c5
  padding: 3px 3px 3px 5px
  color: $dark

.block-row
  display: flex
  align-items: center
  margin: 5px 0px

.submit
  width: 80px
  height: 20px
  color: white
  background-color: #006a77

.submit-wrapper
  display: flex
  align-items: center
  justify-content: flex-end
  padding-top: 10px

.cancel-button
  margin-right: 10px

.separate
  border-top: 1px solid #c5c5c5
  width: 100%
  margin: 10px 0px 5px 0px

.captcha
  width: 310px
  margin: auto
  height: 80px
  padding-top: 10px
  padding-bottom: 15px
  border: 1px solid #000
  padding: 10px 80px 16px

.labelCaptcha
  color: #2A7D9B
  padding: 2px
  text-align: center
  font-size: 12px
  line-height: 13px

#userCaptchaInput
  width: 160px
  padding: 3px
  margin-left: 75px

.block-row
  justify-content: space-around

.notification
  padding: 8px
  background-color: #d9edf7
  color: #5894ba
  border: 1px solid #bce8f0

.backLink
  color: #846db4
  text-decoration: underline
  cursor: pointer
  padding-top: 15px
