<app-wrapper>

  <div class="dashboard-wrapper">

    <app-tabs [selected]="param1" [subSelected]="param2"></app-tabs>

    <app-user-info [userInfo]="username" (logout)="logout()"></app-user-info>

    <!-- INFORMATION -->
    <app-information *ngIf="param1 === 'information'"></app-information>

    <!-- REPORTS TAB -->
    <app-reports-tab *ngIf="param1 === 'reports' && !param2"></app-reports-tab>

    <!-- REPORTS -->
    <div *ngIf="param1 === 'reports' && param2">
      <app-reports *ngIf="!param3" [idReport]="param2"></app-reports>
      <app-report-detail *ngIf="param3" [idReport]="param2" [idReportCreated]="param3"></app-report-detail>
    </div>

    <!-- ESTADISTICAS -->
    <!-- <app-statistics *ngIf="param1 === 'statistics'"></app-statistics> -->
    <app-power-bi-stats *ngIf="param1 === 'statistics'"></app-power-bi-stats>
    <app-power-bi-extra-info *ngIf="param1 === 'statistics'"></app-power-bi-extra-info>

    <app-normatives *ngIf="param1 === 'normatives'"></app-normatives>

    <!-- CONFIG -->
    <app-config *ngIf="param1 === 'config'"></app-config>

    <app-system-info></app-system-info>

    <app-mae-info></app-mae-info>

  </div>

</app-wrapper>
