<div class="config-wrapper">
  <div class="card-wrapper">

    <div class="app-card info-block">
      <h3 class="title-wrapper">
        <div class="title-wrapper">
          NOTIFICACIONES POR CORREO
          <mat-icon (tap)="createNewNotification()">add_circle_outline</mat-icon>
        </div>
        <mat-icon matTooltip="{{helpNotifications}}">help_outline</mat-icon>
      </h3>
      <table mat-table [dataSource]="emailNotifications" class="mat-elevation-z8">

        <ng-container matColumnDef="{{config.idField}}" *ngFor="let config of CONFIG_NOTIFICATIONS">
          <th mat-header-cell *matHeaderCellDef> {{config.label}} </th>
          <td mat-cell *matCellDef="let element"> {{getValue(element, config.idField)}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.emailNotificationStatus" (change)="changeStatusNotification($event, element)"></mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (tap)="editNotification(element)">edit</mat-icon>
            <!-- <mat-icon (tap)="removeNotification(element)">delete</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="app-card info-block">
      <h3 class="title-wrapper">
        <div class="title-wrapper">
          ORGANIZACIONES
          <mat-icon (tap)="createNewOrganization()">add_circle_outline</mat-icon>
        </div>
        <mat-icon matTooltip="{{helpOrganization}}">help_outline</mat-icon>
      </h3>
      <table mat-table [dataSource]="organizations" class="mat-elevation-z8">

        <ng-container matColumnDef="{{config.idField}}" *ngFor="let config of CONFIG_ORGANIZACIONES">
          <th mat-header-cell *matHeaderCellDef> {{config.label}} </th>
          <td mat-cell *matCellDef="let element"> {{getValue(element, config.idField)}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.organizationManglarStatus" (change)="changeStatusOrganization($event, element)"></mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (tap)="editOrganization(element)">edit</mat-icon>
            <!-- <mat-icon (tap)="removeOrganization(element)">delete</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOrganizations"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOrganizations;"></tr>
      </table>
    </div>

    <div class="app-card info-block" *ngFor="let configRole of CONFIG_ROLES">
      <h3 class="title-wrapper">
        <div class="title-wrapper">
          {{configRole.title}}
          <mat-icon (tap)="createNewAllowedUser(configRole.id)">add_circle_outline</mat-icon>
        </div>
        <mat-icon matTooltip="{{configRole.help}}">help_outline</mat-icon>
      </h3>
      <table mat-table [dataSource]="configRole.values" class="mat-elevation-z8">

        <ng-container matColumnDef="{{config.idField}}" *ngFor="let config of CONFIG_ALLOWED_USERS">
          <th mat-header-cell *matHeaderCellDef> {{config.label}} </th>
          <td mat-cell *matCellDef="let element"> {{element[config.idField]}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.allowedUserStatus" (change)="changeStatusAllowedUser($event, element, configRole.id)"></mat-slide-toggle>
          </td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (tap)="editAllowedUser(element, configRole.id)">edit</mat-icon>
            <!-- <mat-icon (tap)="removeAllowedUser(element, configRole.id)">delete</mat-icon> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAllowedUsers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAllowedUsers;"></tr>
      </table>
    </div>


  </div>

</div>
