@import '../../variables'

.app-card
  width: 90%

table
  width: 100%

table .mat-cell
  text-align: left

.title-wrapper
  display: flex
  align-items: center
  padding-left: 20px
  justify-content: space-between
  mat-icon
    padding: 10px
