@import "variables"

body [ng-reflect-router-link], button, [routerLink], .pointer
  cursor: pointer
html, body
  font-family: $font
  font-size: 12px
  line-height: 18px
  position: fixed
  color: $dark
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: 0
  padding: 0
  height: 100%
  p
    font-family: $font
    font-size: 12px
    font-style: normal
    font-variant: normal
    font-weight: 400
    line-height: 15px

.app-card
  margin: 20px 5px
  padding: 20px
  border: 1.8px solid #000
  display: inline-block
  color: $dark
  p
    font-size: 13px !important
    text-align: left
  h3
    margin: 5px
    text-align: center
    color: $primary
  h4
    font-size: 13px
    margin: 3px
    padding-bottom: 5px
    border-bottom: 1px solid $gray

@media screen and (max-width: $small)
  .app-card
    margin: 20px 0px

.card-wrapper
  background-color: $white
  border: $border
  text-align: center

.header
  max-width: 1024px
  margin: 10px auto
  padding: 11px
  font-size: 12px
  background-color: $white
  text-transform: uppercase
  border: $border
  color: $dark

.highlight
  color: $primary !important

.info-block
  vertical-align: middle

.background-map
  fill: none
  pointer-events: all

.feature
  fill: #ccc
  cursor: pointer

.feature.active
  fill: orange

.mesh
  fill: none
  stroke: #fff
  stroke-linecap: round
  stroke-linejoin: round

.tile.mat-grid-tile .mat-figure
  align-items: end
  justify-content: space-between
  text-transform: capitalize

.title.mat-grid-tile .mat-figure
  font-weight: bold

.num.mat-grid-tile .mat-figure
  justify-content: center
  font-weight: bold

.noAll .mat-select-trigger .mat-select-value
  color: $secondary

.uppercase
  text-transform: uppercase

.mat-radio-checked
  .mat-radio-outer-circle
    border-color: $primary !important
  .mat-radio-inner-circle
    background-color: $primary !important
