<app-wrapper>

<form (submit)="validatePin()" *ngIf="!isValidate">
  <app-block-info [title]="'Usuario'">
      <div class="block-row">
        <div class="label">Cédula:</div>
        <input type="text" name="pin" class="input" [(ngModel)]="pin" [disabled]="isValidate">
      </div>

      <div class="submit-wrapper">
        <button type="submit" *ngIf="!isLoading" name="button" class="submit" (keyup.enter)="validatePin()">Validar</button>
        <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
      </div>
  </app-block-info>
</form>

<form (submit)="register()" *ngIf="isValidate">
  <app-block-info [title]="'Usuario'">

      <div class="block-row">
        <div class="label">Cédula:</div>
        <input type="text" name="pin" class="input" [(ngModel)]="pin" [disabled]="isValidate">
      </div>

      <div class="block-row">
        <div class="label">Nombres y Apellidos:</div>
        <input type="text" name="name" class="input" [(ngModel)]="name" disabled>
      </div>

      <div class="block-row" *ngIf="nationalities.length">
        <div class="label">Nacionalidad:</div>
        <mat-select [ngClass]="['input-select']" [(value)]="selectedNationality">
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality.state}}</mat-option>
        </mat-select>
      </div>

  </app-block-info>

  <app-block-info [title]="'Información de Contacto'" *ngIf="isValidate">

    <div class="block-row">
      <div class="label">Teléfono:</div>
      <input type="text" name="phone" class="input" [(ngModel)]="phone">
    </div>

    <div class="block-row">
      <div class="label">Celular:</div>
      <input type="text" name="mobile" class="input" [(ngModel)]="mobile">
    </div>

    <div class="block-row">
      <div class="label">Correo electrónico:</div>
      <input type="email" name="email" class="input" [(ngModel)]="email">
    </div>

    <div class="block-row">
      <div class="label">Dirección:</div>
      <input type="text" name="address" class="input" [(ngModel)]="address">
    </div>

    <div class="block-row">
      <div class="label">Organización:</div>
      <input type="text" name="organization" class="input" [(ngModel)]="organization" disabled>
    </div>

  </app-block-info>

  <app-block-info [title]="'Ubicación'" *ngIf="isValidate">

    <div class="block-row">
      <div class="label">Provincia:</div>
      <mat-select [ngClass]="['input-select']" [(value)]="selectedProvince" (selectionChange)="changeCantons(selectedProvince)">
        <mat-option *ngFor="let province of provinces" [value]="province">{{province.state}}</mat-option>
      </mat-select>
    </div>

    <div class="block-row" *ngIf="cantons.length">
      <div class="label">Cantón:</div>
      <mat-select [ngClass]="['input-select']" [(value)]="selectedCanton" (selectionChange)="changeParroquias(selectedCanton)">
        <mat-option *ngFor="let canton of cantons" [value]="canton">{{canton.state}}</mat-option>
      </mat-select>
    </div>

    <div class="block-row" *ngIf="parroquias.length">
      <div class="label">Parroquia:</div>
      <mat-select [ngClass]="['input-select']" [(value)]="selectedParroquia">
        <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia">{{parroquia.state}}</mat-option>
      </mat-select>
    </div>

  </app-block-info>

  <app-block-info [title]="'Condiciones de Uso del Sistema'" *ngIf="isValidate">

    <div class="block-row">
      <div class="label">¿Acepta las Condiciones de Uso?:</div>
      <input type="checkbox" name="conditions" [(ngModel)]="acceptConditions">
      <span>Sí, acepto.</span>
    </div>

    <div class="submit-wrapper">
      <button type="button" name="cancel" class="submit cancel-button" (click)="cancel()" *ngIf="!isLoading">Cancelar</button>
      <button type="submit" name="submit" class="submit" (keyup.enter)="register()" *ngIf="!isLoading">Aceptar</button>
      <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
    </div>

  </app-block-info>
</form>

</app-wrapper>
