@import '../../variables'
.info-wrapper
  padding: 0px 30px
  text-align: left
  .info
    text-align: left
    padding-left: 20px
    width: 250px
    margin: 4px
    overflow: hidden
    display: inline-block

@media screen and (max-width: $small)
  .info-wrapper
    padding: 0px

.title-separator
  text-align: center
  margin: 5px auto 5px auto
  padding: 3px
  color: $primary
  font-size: 15px
  font-weight: bold
  width: 20%
  border-bottom: 1px solid $primary

.person-wrapper
  border-radius: 10px
  border: 1px solid $gray
  display: flex
  align-items: center
  .img-person
    padding: 14px
    img
      width: 60px
      height: 50px
  .info-person p
    margin: 0px

.desc
  padding: 10px 20px 5px 5%

.info-block
  width: 90%
  min-height: 400px

.app-card .title-wrapper
  border-bottom: 1px solid $gray
  padding: 0px 20px 10px 25px
  display: flex
  align-items: center
  justify-content: space-between
  h3
    display: flex
    align-items: center
  h4
    border-bottom: none

.spinner-wrapper
  padding: 30px 0px 30px 0px
  mat-spinner
    margin: auto

.info-block-noList
  width: 85%

.buttonState
  padding: 5px 10px
  border: 1px solid $gray
  color: $secondary
  border-radius: 10px
  margin: -2px 0px 0px 10px

.buttons-reports
  padding: 20px
  button
    padding: 10px 20px
