<div>
  <div class="header">
    <div class="title">
      <span routerLink="/dashboard/reports">Reportes</span> > <span [routerLink]="['/dashboard/reports/' + idReport]" class="pointer">{{idReport}}</span> > {{idReportCreated}}
    </div>
    <div class="filter">
    </div>
  </div>

  <div class="card-wrapper" *ngIf="loading">
    <div class="app-card info-block-noList">
      <h3>Actualizando reporte</h3><h4></h4>
      <div class="spinner-wrapper">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !validReport" class="card-wrapper">
    <div class="app-card info-block">
      <h3>REPORTE NO VALIDO</h3>
      <p style="text-align: center">El reporte {{idReportCreated}} no existe</p>
    </div>
  </div>

  <div *ngIf="!loading && validReport" class="card-wrapper">
    <div class="app-card info-block">
      <div class="title-wrapper">
        <h3 (tap)="openDialog()">Estado: {{report.anomalyFormState}} <button type="button" name="button-state" class="buttonState">CAMBIAR</button></h3>
        <h4 class="uppercase" (tap)="openDialogHistory()">{{report.anomalyFormType}}<button type="button" name="button-state" class="buttonState">HISTORIAL CAMBIOS ({{histories.length}})</button></h4>
      </div>
      <div class="desc">
        <p><b>Id:</b> {{report.anomalyFormId}}</p>
        <p><b>Descripción:</b> {{report.description}}</p>
        <p><b>Reportó:</b> {{report.userName || 'NO_USER_INFO'}} ({{report.userPin}})</p>
        <p><b>Contactos:</b> {{report.userEmail}} {{report.userPhone}}</p>
        <p><b>Organización:</b> {{report.userOrganizationManglarName || 'NO_ORG_INFO'}}</p>
        <p><b>Localidad:</b> {{report.province}} ({{report.canton}})</p>
      </div>
      <div class="info-wrapper">
        <p class="info"><b>Fecha:</b> {{report.createdAt | date: 'yyyy/MM/dd HH:mm'}}</p>
        <p class="info"><b>Área protegida:</b> {{report.protectedArea}}</p>
        <p class="info"><b>Ocultar identidad:</b> {{report.hideIdentity ? 'SI' : 'NO'}}</p>
        <p class="info"><b>Sientes peligro:</b> {{report.feelDanger ? 'SI' : 'NO'}}</p>

        <!-- CONDITIONAL INFO DEPENDING OF REPORT TYPE -->
        <div>
          <p class="info" *ngIf="report.type"><b>Causa tipo:</b> {{report.type}}</p>
          <p class="info" *ngIf="report.area"><b>Superficie:</b> {{report.area}}</p>
          <p class="info" *ngIf="report.custody"><b>Área custodia:</b> {{report.custody}}</p>
          <p class="info" *ngIf="report.latlong"><b>Latlong:</b> {{report.latlong}}</p>
          <p class="info" *ngIf="report.estuary"><b>Estuario:</b> {{report.estuary}}</p>
          <p class="info" *ngIf="report.community"><b>Comunidad:</b> {{report.community}}</p>
          <p class="info" *ngIf="report.anomalyFormSubtype"><b>Sub-tipo:</b> {{report.anomalyFormSubtype}}</p>
          <p class="info" *ngIf="report.address"><b>Dirección:</b> {{report.address}}</p>
          <p class="info" *ngIf="report.animalsStrandedCount"><b>Animales atrapados:</b> {{report.animalsStrandedCount}}</p>
          <p class="info" *ngIf="report.animalsStrandedSize"><b>Tamaño animales atrapados:</b> {{report.animalsStrandedSize}}</p>
          <p class="info" *ngIf="report.artesanalType"><b>Tipo artesania:</b> {{report.artesanalType}}</p>
          <p class="info" *ngIf="report.beachingReason"><b>Razón varamiento:</b> {{report.beachingReason}}</p>
          <p class="info" *ngIf="report.fishingType"><b>Tipo pesca:</b> {{report.fishingType}}</p>
          <p class="info" *ngIf="report.fishingTypeOthers"><b>Otro tipo de pesca:</b> {{report.fishingTypeOthers}}</p>
          <p class="info" *ngIf="report.individuals"><b>Individuos:</b> {{report.individuals}}</p>
          <p class="info" *ngIf="report.individualsRequisitioned"><b>Individuos requisados:</b> {{report.individualsRequisitioned}}</p>
          <p class="info" *ngIf="report.individualsRequisitionedInfo"><b>Individuos requisados info:</b> {{report.individualsRequisitionedInfo}}</p>
          <p class="info" *ngIf="report.industrialType"><b>Tipo industrial:</b> {{report.industrialType}}</p>
          <p class="info" *ngIf="report.seaConditions"><b>Condiciones del mar:</b> {{report.seaConditions}}</p>
        </div>
      </div>

      <!-- INFRACTORES -->
      <div class="title-separator">Presuntos infractores</div>
      <div class="info-wrapper" *ngIf="!report.anomaliesOffenders.length">
        <p class="info">Lista de posibles infractores vacia</p>
      </div>
      <div class="info-wrapper" *ngIf="report.anomaliesOffenders.length">
        <div class="info" *ngFor="let infractor of report.anomaliesOffenders">
          <div class="person-wrapper">
            <div class="img-person">
              <img src="assets/svg/person.svg" alt="INFRACTOR">
            </div>
            <div class="info-person">
              <p *ngIf="infractor.anomalyOffenderName" class="highlight">{{infractor.anomalyOffenderName}}</p>
              <p *ngIf="infractor.anomalyOffenderPin">{{infractor.anomalyOffenderPin}}</p>
              <p *ngIf="infractor.anomalyOffenderPhone">{{infractor.anomalyOffenderPhone}}</p>
              <p *ngIf="infractor.anomalyOffenderAddress">{{infractor.anomalyOffenderAddress}}</p>
              <p *ngIf="infractor.anomalyOffenderAdditionalInformation">{{infractor.anomalyOffenderAdditionalInformation}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- FOTOS -->
      <div class="title-separator">Fotos/Videos</div>
      <div class="info-wrapper" *ngIf="!report.anomaliesEvidences.length">
        <p class="info">Lista de fotos/videos vacia</p>
      </div>
      <div class="info-wrapper" *ngIf="report.anomaliesEvidences.length">
        <div class="info" *ngFor="let photoInfo of report.anomaliesEvidences">
          <div class="person-wrapper" (tap)="openDialogImg(photoInfo)">
            <div class="img-person"  *ngIf="photoInfo.anomalyEvidenceNameFile">
              <img src="{{photoInfo.anomalyEvidenceUrl}}" alt="PHOTO" *ngIf="photoInfo.anomalyEvidenceType === 'photo'">
              <img src="assets/images/video_file.png" alt="VIDEO" *ngIf="photoInfo.anomalyEvidenceType !== 'photo'">
              <mat-spinner *ngIf="!photoInfo.anomalyEvidenceNameFile" [diameter]="40"></mat-spinner>
            </div>
            <div class="info-person">
              <p *ngIf="photoInfo.anomalyEvidenceNameFile" class="highlight">{{photoInfo.anomalyEvidenceNameFile}}</p>
              <p *ngIf="photoInfo.anomalyEvidenceDescription">{{photoInfo.anomalyEvidenceDescription}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- TESTIGOS -->
      <div class="title-separator">Testigos</div>
      <div class="info-wrapper" *ngIf="!report.anomaliesWitnesses.length">
        <p class="info">Lista de testigos vacia</p>
      </div>
      <div class="info-wrapper" *ngIf="report.anomaliesWitnesses.length">
        <div class="info" *ngFor="let testigo of report.anomaliesWitnesses">
          <div class="person-wrapper">
            <div class="img-person">
              <img src="assets/svg/person.svg" alt="TESTIGO">
            </div>
            <div class="info-person">
              <p *ngIf="testigo.anomalyWitnessName" class="highlight">{{testigo.anomalyWitnessName}}</p>
              <p *ngIf="testigo.anomalyWitnessPhone">{{testigo.anomalyWitnessPhone}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons-reports">
        <button type="button" name="button-state" class="buttonState" (tap)="generateReport()">GENERAR REPORTE</button>
      </div>

    </div>
  </div>
</div>
